<% provide(:title, 'Sign up') %>
<BR>
<h1>Sign up</h1>

<table>
  <th>key</th>
  <th>Value</th>
  <% for item in request.env %>
      <tr>
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
      </tr>
  <% end %>
</table>
<br>
... <%= ENV['SERVER_NAME'] %>  < Server Here<br>

<div class="row"  >
  <div class="col-md-6 col-md-offset-3" style="background:#5C81AB !important">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
